:root {
    --cor-fundo-body: rgba(0, 0, 0, 0.952);
    --cor-border-nav: blue;
    --footer: #793139;
    --cor-bg-footer: rgb(243, 4, 231);
}

body {
    background-color: var(--cor-fundo-body);
}

header {
    padding: 50px;
    background-image: url('../imagens/head.jpeg');
    background-position: center right;
    background-size: cover;
    height: 100px;
}

nav {
    
   border-radius: 3px;
   background-color: #fff;
   background-image: url('../imagens/nav1.jpg');
   background-position: bottom left;
   background-size: cover;
    padding: 3px;
}

#central {
  
    background-color: #fff;
    max-width: 600px;
    max-height: 500px;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

p {
    text-indent: 2px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

a {     
    color: #fff;
    padding: 3px;
    font-size: 1.1em;
    margin-left: 10px;
}

footer {
    color: #fff;
    background-color: var(--footer);
    clear: both;
    text-align: center;
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h3 {
    color: red;
}