<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>+18 da laninha</title>
</head>
<body>
    
    <header>
        
    </header>
    <nav>
        <a href="/aniver/views/imagens.html">Together</a>
        <a href="/aniver/views/filmes.html">Filminho</a>
        <a href="/aniver/views/colletion.html">Coleção</a> 
    
    </nav>

    <div id = central> 
        <h1>Bem vinda Princesa do pecado💀</h1>

        <h2></h2>

        <p>
          Então baby,embora você disse que não era para ter textinbo de aniversário, aqui estou eu. Hoje é dia 02/09 e falta
           6 dias para seu aniversário  de 18 aninhoossss
        </p>

        <p>
            Imagino que esse estilo gótico não seja bem um tema de anviersário, mas estamos da menina mais bonita e 
            especial desse mundo inteiro seu nome é: <strong>Alane Melo</strong> Ela é rockeira e não tem medo nem 
            de 🦇 
        </p>

        <p>
            Esse mini-site foi dedicado a minha namorada mais perfeita do universo. Então explore-o um pouco
        </p>

      
    </div>

    <footer>
        Parabéns gatinha🦉
    </footer>
</body>
</html>